$mdc-theme-primary: #608F63;
$mdc-theme-on-primary: #FFFFFF;
$mdc-theme-secondary: red;
$mdc-theme-on-secondary: red;
$mdc-theme-surface: #FFFFFF;
// $mdc-theme-surface: red;
$mdc-theme-on-surface: #1C1C1C;
$mdc-theme-background: red;
$mdc-theme-on-background: #442C2E;